* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #D8DBE2;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

img {
  height: 25px;
  cursor: pointer;
}

table {
  text-align: center;
}

td {
  width: 170px;
  padding: 15px;
  font-size: 80%;
  border: 1px solid black;
}

h1  {
  color: #1B1B1E;
}

th {
  padding: 10px;
  font-size: 16px;
  color: #0c0c0c;
  min-width: 120px;
  background: #828A95;
  border: 1px solid black;

}

tr {
  border: 2px solid #0c0c0c;
  background: #A9BCD0;
}

button  {
  padding: 3px 5px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}

button:hover  {
  background-color: #58A4B0;
  color: white;
}

input[type=text]  {
  border-radius: 3px;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding-left: 5px;
}

.validation-message {
  display: none;
  color: #CD5C5C;
}

.entire-add-foods-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: 30px;
  background-color: #373F51;
}

.new-and-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.add-foods-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.manage-foods-container {
  display: flex;
  margin: 40px;
  flex-direction: column;
}

.add-meal-selections  {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 50px;
}

.label {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #58A4B0;
}

.add-to-meal {
  margin: 15px;
}
.add-foods-container  {
  vertical-align: middle;
}

.left-container {
  float: left;
  width: 50%;
  text-align: center;
}

.right-container {
  float: right;
  width: 50%;
  text-align: center;
}

.totals-container {
  text-align: center;
}

.create-foods-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Breakfast, #Lunch, #Dinner, #Snack, #calorie-summary  {
  margin: auto;
  padding: 30px;
}

#redirect-to-foods, #diary-search-term  {
  margin-left: 10px;
  margin-right: 15px;
  height: 20px;
  margin-top: 13px;
  display: flex;
}

#diary-search-term  {
  width: 30%;
}

#new-food-name, #new-food-calorie-count  {
  margin-bottom: 10px;
}

#search-term  {
  height: 20px;
  width: 30%;
  margin-top: 15px;
}

#new-food-button  {
  margin-bottom: 15px;
}

.totals {
  background: #C0C0C0;
}

#redirect-to-diary  {
  margin-bottom: 15px;
  margin-top: 18px;
}
